/*Ajeitando o bloco das citações*/
.quote-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

/* Formatação do texto */
.quote {
    background-color: #6595a3;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-family: 'Comic Sans MS';
    font-size: 18px;
    color: #222527;
}

.quot.quote:hover {
    transform: scale(1.1);
}

/*Ajeitando o bloco dos Livros*/
.quote2-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    gap: 10px;
}
/*Formatação da exibição*/
.quote2 {
    background-color: #6595a3;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/*Formatando a foto da capa*/
.quote2 img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    width: auto; /*respeita a proporção da imagem*/
    border-radius: 10px;
}

.quote2:hover {
    transform: scale(1.1);
}

/* Estilos do modal // Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* cor de fundo semi-transparente */
            
}

.modal-content {
    background-color: #86b6c5; /* cor de fundo do modal - ajuste conforme o restante do site */
    margin: 10% auto; /* reduzindo a margem superior para centralizar melhor */
    padding: 15px; /* reduzindo o espaçamento interno */
    border: 1px solid #888;
    border-radius: 10px; /* bordas arredondadas */
    width: 70%; /* reduzindo a largura do modal */
    max-width: 600px; /* definindo uma largura máxima para garantir legibilidade */
    color: #222527; /* cor do texto dentro do modal */
    font-family: 'Comic Sans MS', cursive; /* tipo de fonte do texto dentro do modal */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o menu de navegação */
#menu-toggle {
    position: fixed;
    bottom: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #d8baa0; /* Cor de fundo da bolinha */
    border-radius: 50%; /* Formato da bolinha */
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 999; /* Garante que a bolinha esteja acima de outros elementos */
}

#menu-toggle:hover {
    background-color: #b49173; /* Cor de fundo da bolinha ao passar o mouse */
}

#navbar {
    position: fixed;
    bottom: 40px;
    right: 10px;
    display: none; /* Oculta o menu de navegação inicialmente */
    flex-direction: column;
    align-items: flex-end;
    z-index: 998; /* Garante que o menu esteja abaixo da bolinha */
}

.nav-button {
    background-color: #6595a3; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 50%; /* Deixa os botões redondos */
    padding: 15px; /* Ajusta o tamanho do botão conforme necessário */
    margin-bottom: 10px; /* Espaçamento entre os botões */
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive; /* Tipo de fonte */
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #86b6c5; /* Cor de fundo dos botões ao passar o mouse */
}

#navbar.show {
    display: flex; /* Exibe o menu de navegação quando a classe 'show' é aplicada */
}
